body {
	background-image: url('https://wallpaperaccess.com/full/26174.png');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}


.body1 {
	font-family: 'Inconsolata', monospace;
}

nav
{
    position:relative;
    width:100%;
    height: 45px;
    background:#34495e;
    border-radius:8px;
    font-size:0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
nav a
{
    font-size:14px;
    text-transform: uppercase;
    color:white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation
{
    position: absolute;
    height: 5px;
    bottom:0;
    z-index:0;
    background: #1abc9c;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

a:nth-child(1)
{
    width:150px;
}
nav .start-home,a:nth-child(1):hover~.animation
{
    width: 150px;
    left:0;
}


a:nth-child(2)
{
    width:150px;
}
nav .start-about,a:nth-child(2):hover~.animation
{
    width: 150px;
    left:150px;
}


a:nth-child(3)
{
    width:150px;
}
nav .start-blog,a:nth-child(3):hover~.animation
{
    width: 150px;
    left:300px;
}


a:nth-child(4)
{
    width:150px;
}
nav .start-portfolio,a:nth-child(4):hover~.animation
{
    width:150px;
    left:450px;
}



.paragraph {
	font-size:20pt;
	color:white;
}

p {
	color:white;
	font-size:15pt;
}

h2 {
	color:white;
}

table {
	margin-top:40px;
}

img {
	margin-top:40px;
}

td {
	padding-left:40px;
}

.form {
	text-align:center;
	margin-top:300px;
	font-size:20pt;
}

.log-in {
	font-size:15pt;
}

form{
    width: 440px;
    padding:40px;
    position: absolute;
    left:32%;

}
label{
    color:white;
}

#paragraph {
	text-align: center;
	font-size:80pt;
	color:white;
}

